:root {
  --background: #121212;
  --primary: #fdfeff;
  --secondary: #97383b;
  --tertiary: #c9c7c5;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700&display=swap");

body,
html {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.bg_default {
  background-color: var(--background);
}

.wrapper {
  margin: auto;
  max-width: 80%;
  margin-top: 2.2rem;
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}
.wrapper .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: var(--tertiary);
}
.wrapper .logo span {
  color: var(--secondary);
}

.menu ul {
  display: flex;
}
.menu ul li {
  padding: 10px;
}
.menu ul li a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--tertiary);
  text-decoration: none;
}
.menu ul li a:hover {
  color: var(--secondary) !important;
}
.active {
  color: var(--secondary) !important;
}

.wrapper_header {
  margin: auto;
  max-width: 80%;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
}
.title {
  margin-bottom: 2rem;
}
.title p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary);
}

.title h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 84px;
  color: var(--primary);
}
.description .work {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary);
  margin-bottom: 2rem;
}
/* .work::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
  color: var(--primary);
} */
.about::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
  color: var(--primary);
}
@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.description .about {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: var(--tertiary);
  line-height: 26px;
  margin-bottom: 2rem;
  max-width: 750px;
}

.description .about strong {
  color: var(--primary);
}
.header_button {
  margin-top: 2rem;
}
.header_button a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--tertiary);
  line-height: 21px;
  border: solid 1px var(--secondary);
  padding: 15px;
  border-radius: 20px 0 20px 0;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}

.header_button a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.imgs img {
  width: 450px !important;
}
.email {
  position: fixed;
  left: 0;
  top: 50%;
  margin-left: -80px;
  transform: rotate(-90deg);
}
.email p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto", sans-serif;
  color: var(--tertiary);
}

.social {
  position: fixed;
  right: 0;
  top: 50%;
  margin-right: 20px;
}
.social li {
  margin-top: 20px;
}
.social i {
  font-size: 26px;
  color: var(--tertiary);
}
.wrapper_skills_title p {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 80%;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.wrapper_skills_title hr {
  width: 50px;
  margin-top: 1rem;
}

.wrapper_skills {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  max-width: 80%;
}
.wrapper_skills img{
  width: 50px;
  padding: 20px;
}


@media screen and (min-width: 1367px) {
  .wrapper_header {
    margin: auto;
    max-width: 80%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary);
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
  }
 
 
  .description .work {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: var(--secondary);
    margin-bottom: 2rem;
  }

  .description .about {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    color: var(--tertiary);
    line-height: 26px;
    margin-bottom: 5rem;
  }
  .description .about strong {
    font-size: 25px;
  }
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) {
  /* estilos aqui */
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
  /* estilos aqui */
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 1366px) {
  .wrapper_header {
    margin: auto;
    max-width: 80%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary);
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin-bottom: 2rem;
  }
  .title p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: var(--secondary);
  }

  .title h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 84px;
    color: var(--primary);
  }
  .imgs img {
    width: 300px;
  }

}
